.adminnav{

    width: 239px;
}
.adminlogo{
    width: 200px;
    height: 50px;
    background-color: #e6f0f0;
    margin-top: 6px;
   
    
}
.heroblock{
   
    background-repeat: no-repeat;
    background-position: right;
}
.stuimg{
    width: 40px;
    height: 50;
    border-radius: 20px;
}
.insimg{
    width: 40px;
    height: 50;
    border-radius: 20px;
}
.complet{
 border: 1px solid black;
 width: 43%;
 height: 130px;
 background-color: #f6bb00;
 border-radius: 20px;
}
.vidtech{
    border: 1px solid black;
 width: 43%;
 height: 130px;
 background-color: #fc6b58;
 border-radius: 20px;
 float: right;
 margin-top: -35%;
 margin-right: 9%;
 
}
h5{
    margin: 10px;
    color: white;
    font-family: poppins;
    font-weight: bolder;
}
p{
    margin: 10px;
    color: white;
    font-weight: bold;
}
.itech{
margin-left: 70px;
}
i{
    margin: 10px;
}
.cctv:hover{
   background-color: #f6bb00;
   width: 190px;
  }
  .cctv{
    margin: 10px;
    color: white;
  }
  .uxdiv{
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.02);
    border-radius: 8px;
    margin: 10px;
    width: 50;
  }
  #app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}


.forms{
  border: 0.5px solid rgba(0, 0, 0, 0.15);
  width: 500px;
  margin-left: 400px;
  border-radius: 50px;
  margin-top: 20px;
  
}
.divshow{
  border: 0.5px solid rgba(0, 0, 0, 0.15);
  width: 753px;
  background-color: #E4E6EF;
 margin-top: -10px;
 margin-left: 22px;
  height: 38px;
}
.divshows{
  border: 0.5px solid rgba(0, 0, 0, 0.15);
  width: 710px;
  background-color: #E4E6EF;
 margin-top: -10px;
 margin-left: 22px;
  height: 38px;
}
.hshow{
  font-size: 17px;
  margin-left: 13px;
  margin-top: 7px;
}